

.form-check-label{
    font-weight: bold;
}

.title{
    font-weight: bold;
}


#form-check-input input:checked ~ .checkmark {
    background-color: black;
    }


.card{
    margin: 20px !important;
    
}

.parrafo{
    margin:15px;
}